body, html{
  font-family: "Arial";
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
  background: rgb(0, 113, 134)
}

$arrow-size: 20px;
$arrow-margin: 10px;
$io-height: 200px;

a.arrow-up{
  display: block;
  width: 0;
  height: 0;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-bottom: $arrow-size solid white;
  margin-bottom: $arrow-margin;
}

a.arrow-down{
  display: block;
  width: 0;
  height: 0;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-top: $arrow-size solid white;
  margin-top: $arrow-margin;
}

#band-number{
 text-align: center;
 font-size: 400%;
}

#band-text{
  font-size: 400%;
  margin-left: 25px;
}

#band-selector-container{
  display: inline-block;
}

#band-text-container{
  display: inline-block;
}

#resistance-value, #band-value{
  font-size: 500%;
}

#tolerance-value, #temp-value{
  font-size: 200%;
}

#input-container{
  position: absolute;
  top: $io-height/8;
  margin-left: 10%;
}

#output-container{
  position: absolute;
  bottom: $io-height/8;
  margin-right: 10%;
}

#input{
  height: $io-height;
  margin-right: 0;
}

#output{
  height: $io-height;
  margin-left: 0
}

.block>a{
  display: block;
}

.selector>a.active, .selector>a.active:hover{
  position: relative;
  z-index: 3000;
  outline: 4px solid blue;
}

.selector>a:hover{
  position: relative;
  z-index: 3000;
  outline: 4px solid;
}

.selector{
  display: none;
}

.digit.block, .mult.block{
  width: 10%;
}

.tol.block{
  width: 14.25%;
}

.temp.block{
  width: 25%;
}

.block{
  height: 100%;
  float: left;
  margin: 0;
}

.digit.band{
  margin: 35px  0;
  background-color: red;
}

.multiplier.band, .temp.band{
  margin: 35px 0;
  background-color: blue;
}

.tolerance.band{
  margin: 65px 0 35px;
  background-color: gold;
}

.band{
  height: 30px;
  width: 100%;
}

.column{
  float: left;
  margin: 0;
  width: 33%;
  height: 100%;
  background: rgb(0, 113, 134);
}

.resistor{
  margin-left: auto;
  margin-right: auto;
}

.wire{
  position: absolute;
  width: 10px;
  height: 100%;
  left: 50%;
  margin-left: -5px;
}

.rbody{
  top: 150px;
  width: 200px;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -225px;
  border-radius: 15px;
}