<ul>
  <li>
    <a href="#" data-type="four-band">
      4 Band
    </a>
  </li>
  <li>
    <a href="#" data-type="five-band">
      5 Band
    </a>
  </li>
  <li>
    <a href="#" data-type="six-band">
      6 Band
    </a>
  </li>
</ul>