<div class="digit selector band">
  <a href="#" class="black digit block" data-val="0"></a>
  <a href="#" class="brown digit block" data-val="1"></a>
  <a href="#" class="red digit block" data-val="2"></a>
  <a href="#" class="orange digit block" data-val="3"></a>
  <a href="#" class="yellow digit block" data-val="4"></a>
  <a href="#" class="green digit block" data-val="5"></a>
  <a href="#" class="blue digit block" data-val="6"></a>
  <a href="#" class="purple digit block" data-val="7"></a>
  <a href="#" class="gray digit block" data-val="8"></a>
  <a href="#" class="white digit block" data-val="9"></a>
</div>