<div class="digit selector band">
  <a href="#" class="black digit block"></a>
  <a href="#" class="brown digit block"></a>
  <a href="#" class="red digit block"></a>
  <a href="#" class="orange digit block"></a>
  <a href="#" class="yellow digit block"></a>
  <a href="#" class="green digit block"></a>
  <a href="#" class="blue digit block"></a>
  <a href="#" class="purple digit block"></a>
  <a href="#" class="gray digit block"></a>
  <a href="#" class="white digit block"></a>
</div>