<div class="digit selector band">
  <div class="black digit block"></div>
  <div class="brown digit block"></div>
  <div class="red digit block"></div>
  <div class="orange digit block"></div>
  <div class="yellow digit block"></div>
  <div class="green digit block"></div>
  <div class="blue digit block"></div>
  <div class="purple digit block"></div>
  <div class="gray digit block"></div>
  <div class="white digit block"></div>
</div>