<div class="digit selector band">
  <div class="digit_block" style="background: black;"></div>
  <div class="digit_block" style="background: brown;"></div>
  <div class="digit_block" style="background: red;"></div>
  <div class="digit_block" style="background: orange;"></div>
  <div class="digit_block" style="background: yellow;"></div>
  <div class="digit_block" style="background: green;"></div>
  <div class="digit_block" style="background: blue;"></div>
  <div class="digit_block" style="background: purple;"></div>
  <div class="digit_block" style="background: gray;"></div>
  <div class="digit_block" style="background: white;"></div>
</div>