<div id="four-band" class="active resistor">
  <div class="gray wire">
  </div>
  <div class="aqua rbody">
    <div class="band_container">
      <div class="digit band"></div>
      <%= render "digit_selector" %>
    </div>
    <div class="band_container">
      <div class="digit band"></div>
      <%= render "digit_selector" %>
    </div>
    <div class="band_container">
      <div class="multiplier band"></div>
      <%= render "multiplier_selector" %>
    </div>
    <div class="band_container">
      <div class="tolerance band"></div>
      <%= render "tolerance_selector" %>
    </div>
  </div>
</div>