<div class="multiplier selector band">
  <div class="silver mult block"></div>
  <div class="gold mult block"></div>
  <div class="black mult block"></div>
  <div class="brown mult block"></div>
  <div class="red mult block"></div>
  <div class="orange mult block"></div>
  <div class="yellow mult block"></div>
  <div class="green mult block"></div>
  <div class="blue mult block"></div>
  <div class="purple mult block"></div>
</div>