<div class="multiplier selector band">
  <a href="#" class="silver mult block"></a>
  <a href="#" class="gold mult block"></a>
  <a href="#" class="black mult block"></a>
  <a href="#" class="brown mult block"></a>
  <a href="#" class="red mult block"></a>
  <a href="#" class="orange mult block"></a>
  <a href="#" class="yellow mult block"></a>
  <a href="#" class="green mult block"></a>
  <a href="#" class="blue mult block"></a>
  <a href="#" class="purple mult block"></a>
</div>