<div class="multiplier selector band">
  <a href="#" class="silver mult block" data-val="0.01"></a>
  <a href="#" class="gold mult block" data-val="0.1"></a>
  <a href="#" class="black mult block" data-val="1"></a>
  <a href="#" class="brown mult block" data-val="10"></a>
  <a href="#" class="red mult block" data-val="100"></a>
  <a href="#" class="orange mult block" data-val="1000"></a>
  <a href="#" class="yellow mult block" data-val="10000"></a>
  <a href="#" class="green mult block" data-val="100000"></a>
  <a href="#" class="blue mult block" data-val="1000000"></a>
  <a href="#" class="purple mult block" data-val="10000000"></a>
</div>