<div class="temp selector band">
  <a href="#" class="brown temp block"></a>
  <a href="#" class="red temp block"></a>
  <a href="#" class="orange temp block"></a>
  <a href="#" class="yellow temp block"></a>
</div>