<div class="temp selector band">
  <div class="temp_block" style="background: brown;"></div>
  <div class="temp_block" style="background: red;"></div>
  <div class="temp_block" style="background: orange;"></div>
  <div class="temp_block" style="background: yellow;"></div>
</div>