<div class="temp selector band">
  <a href="#" class="brown temp block" data-val="100ppm"></a>
  <a href="#" class="red temp block" data-val="50ppm"></a>
  <a href="#" class="orange temp block" data-val="15ppm"></a>
  <a href="#" class="yellow temp block" data-val="25ppm"></a>
</div>