<div class="tolerance selector band">
  <div class="tol_block" style="background: silver;"></div>
  <div class="tol_block" style="background: gold;"></div>
  <div class="tol_block" style="background: brown;"></div>
  <div class="tol_block" style="background: red;"></div>
  <div class="tol_block" style="background: green;"></div>
  <div class="tol_block" style="background: blue;"></div>
  <div class="tol_block" style="background: purple;"></div>
</div>