<div class="tolerance selector band">
  <a href="#" class="silver tol block" data-val="10%"></a>
  <a href="#" class="gold tol block" data-val="5%"></a>
  <a href="#" class="brown tol block" data-val="1%"></a>
  <a href="#" class="red tol block" data-val="2%"></a>
  <a href="#" class="green tol block" data-val="0.5%"></a>
  <a href="#" class="blue tol block" data-val="0.25%"></a>
  <a href="#" class="purple tol block" data-val="0.1%"></a>
</div>