<div class="tolerance selector band">
  <div class="silver tol block"></div>
  <div class="gold tol block"></div>
  <div class="brown tol block"></div>
  <div class="red tol block"></div>
  <div class="green tol block"></div>
  <div class="blue tol block"></div>
  <div class="purple tol block"></div>
</div>