<div class="tolerance selector band">
  <a href="#" class="silver tol block"></a>
  <a href="#" class="gold tol block"></a>
  <a href="#" class="brown tol block"></a>
  <a href="#" class="red tol block"></a>
  <a href="#" class="green tol block"></a>
  <a href="#" class="blue tol block"></a>
  <a href="#" class="purple tol block"></a>
</div>