<div id="controls" class="column" >
  <%= render 'controls' %>
</div>
<div class="column">
  <%= render 'four_band' %>
  <%= render 'five_band' %>
  <%= render 'six_band' %>
</div>
<div id="output" class="column" >
</div>