<div id="controls" class="column" >
  <h1>Graphical </br> Resistance </br> Calculator</h1>
  <%= render 'controls' %>
</div>
<div class="column">
  <%= render 'four_band' %>
  <%= render 'five_band' %>
  <%= render 'six_band' %>
</div>
<div class="column" >
  <div id="output-container">
    <div id="output">
      <div id="resistance-value"></div>
      <div id="tolerance-value"></div>
      <div id="temperature-value"></div>
    </div>
  </div>
</div>