<div class="column" >
  <div id="input-container">
    <div id="input">
      <div id="band-selector-container">
        <a href="#" class="arrow-up"></a>
        <div id="band-number">4</div>
        <a href="#" class="arrow-down"></a>
      </div>
      <div id="band-text-container">
        <div id="band-text">
          Band
        </div>
      </div>
    </div>
  </div>
</div>
<div class="column">
  <%= render 'four_band' %>
  <%= render 'five_band' %>
  <%= render 'six_band' %>
</div>
<div class="column" >
  <div id="output-container">
    <div id="output">
      <div id="resistance-value"></div>
      <div id="tolerance-value"></div>
      <div id="temperature-value"></div>
    </div>
  </div>
</div>