<div id="controls" class="column" style="background-color: white">
  <%= render 'controls' %>
</div>
<div class="column">
  <%= render 'four_band' %>
  <%= render 'five_band' %>
  <%= render 'six_band' %>
</div>
<div id="output" class="column" style="background-color: white">
</div>